
[data-widget="front-body"]
{
	background: white;
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
}

.widget-front-body__main_container
{
	background: green;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.widget-front-body__main_container main
{
	background: pink;
	padding: 1rem;
}
