
[data-widget="front-notifications"] ul
{
	margin: 0;
	padding: 0 2rem;
}

[data-widget="front-notifications"] li
{
	padding: 1rem 0;
}

[data-widget="front-notifications"] .widget-front-notifications__errors
{
	background:red;
}

[data-widget="front-notifications"] .widget-front-notifications__warnings
{
	background:orange;
}

[data-widget="front-notifications"] .widget-front-notifications__successes
{
	background:green;
}

[data-widget="front-notifications"] .widget-front-notifications__infos
{
	background:lightblue;
}
