
[data-widget="front-system_links"]
{
	display: flex;
}

[data-widget="front-system_links"] a
{
	display: inline-block;
	padding: 1rem;
}

[data-widget="front-system_links"] a:hover
{
	background: darkorange;
}
