@charset "UTF-8";


[data-widget="html"]
{
	background: black;
	height: 100%;
}


[data-widget="front-body"]
{
	background: white;
	display: flex;
	flex-direction: column;
	margin: 0;
	height: 100%;
}

.widget-front-body__main_container
{
	background: green;
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.widget-front-body__main_container main
{
	background: pink;
	padding: 1rem;
}


[data-widget="front-footer"]
{
	background: red;
	padding: 1rem;
	text-align: right;
}

[data-widget="front-footer"] ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}


[data-widget="front-header"]
{
	background: yellow;
	display: flex;
	justify-content: space-between;
}

.widget-front-header__logo_link
{
	display: inline-block;
	padding: 1rem;
}


[data-widget="front-nav"]
{
	background: orange;
}

[data-widget="front-nav"] ul
{
	padding: 0;
	margin: 0;
	list-style: none;
}


[data-widget="front-notifications"] ul
{
	margin: 0;
	padding: 0 2rem;
}

[data-widget="front-notifications"] li
{
	padding: 1rem 0;
}

[data-widget="front-notifications"] .widget-front-notifications__errors
{
	background:red;
}

[data-widget="front-notifications"] .widget-front-notifications__warnings
{
	background:orange;
}

[data-widget="front-notifications"] .widget-front-notifications__successes
{
	background:green;
}

[data-widget="front-notifications"] .widget-front-notifications__infos
{
	background:lightblue;
}


[data-widget="front-system_links"]
{
	display: flex;
}

[data-widget="front-system_links"] a
{
	display: inline-block;
	padding: 1rem;
}

[data-widget="front-system_links"] a:hover
{
	background: darkorange;
}


[data-widget="front-home-main"]
{
}
